<html>
<head>
    <meta charset="UTF-8">
    <title>Iclone</title>
</head>
<body>
    <section id="content">
        <form action="/login" method='POST'>
            <h2>Log In</h2>
            <div id="password_username">
                <input name='username' type="text" placeholder="Username" required="" id="username"/>
                <input name='password' type="password" placeholder="Password" required="" id="password"/>
            </form>
                <input type="submit" value="Submit" id="submit"/>
            </div>
            <h3>Don't have an acount yet? <a href='/signup'>Sign up here</a></h3>
    </section>    
</body>
</html>
