<html>
<head>
    <meta charset="UTF-8">
    <title>iClone</title>
</head>
<body>
    <section id="content">
        <form action="/signup" method='POST'>
            <h2>Sign Up</h2>
            <div id="password_username">
                <input name='email' type="text" placeholder="Email" required="" id="email"/>
                <input name='username' type="text" placeholder="Username" required="" id="username"/>
                <input name='password' type="password" placeholder="Password" required="" id="password"/>
            </form>
                <input type="submit" value="Submit" id="submit"/>
            <h4>Already have an account?<a href='/login'>Login</a></h4>
            </div>
                </section>
        
        
</body>
</html>
