<!DOCTYPE html>
<html lang="en">
 <head>
	<title>Homepage</title>
      <link rel="stylesheet" href="main1.css" />
   </head>
  <body>
  <!--Navigation Bar For iclone-->
       <div class="topnav" id="myTopnav">
    <a href="#home">Iclone</a>
  <a href="#news">Username</a>
 <a href="#contact">Bio</a>
   <a href="#about">Images </a>
      </div>
<!--Like Button-->
<button ng-model="object.likes" ng-click="addLike(object)">
    <i class="material-icons">Like</i>
    </br>
</button>
<!--Comment Button-->
<button ng-model="object.comment" ng-click="comment(object)">
    <i class="material-icons">Comment</i>
    </br
</button> 

</body>
</html>
