<%- include ../partials/_header %>

<h1>Add a Photo/Video</h1>

<form class="form-horizontal" method="POST" action="/create" enctype="multipart/form-data">
  <div class="form-group">
    <label for="productTitle" class="col-sm-2 control-label">Caption</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Caption" name="caption">
    </div>
  </div>
  <div class="form-group">
	  <label for="productImage" class="col-sm-2 control-label">Image</label>
    <div class="col-sm-10">
      <input type="file" id="" name="imageUpload">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Upload</button>
    </div>
  </div>
</form>

<%- include ../partials/_footer %>