<%- include ../partials/_header %>

<% if (photos) {%>
<div class="row thumbnail" style="margin-top: 10px;">
  <div class="col-md-6 well">
    <h3 class=" well-sm">Newsfeed  </h3>
  </div>
  <div class="col-md-6 text-center">
  <% for (var i = 0; i < photos.length; i++) { 
    post = photos[i]; %>
    <img src="<%=post.thumbnail%>" alt="pic should be here"/>
    <%= post.caption %>
    <button type='button'>Comment</button>
    <button type='like'>Like</button>
  <% } %>
    
  </div>
</div>

<% } else { %>
  <h3> Post Not Found </h3>
<% } %>

<%- include ../partials/_footer %>

